<html lang="en">
<head>

</head>
<body class="container">


<main>
  <table width="50%" align="center">]
    <% searches.forEach(function(search){ %>
      <form action="/search/delete" method="post">
        <tr>
          <input type="hidden" name="id" value="<%= search.id  %>">
          <td><%= search.url %></td>
          <td><input type="submit" value="Delete"></td>
        </tr>
      </form>
    <% }); %>
    <form action="/search" method="post">
      <tr>
        <td><input type="text" name="url" ></td>
        <td><input type="submit" value="Add"></td>
      </tr>
    </form>
  </table>

</main>

</body>
</html>
